<!DOCTYPE html>
<html lang="en">

<head>
    <title>Centros de custo</title>
    <th:block th:replace="~{base ::head}">
        <th:block th:attr="th:replace=${title}"></th:block>
    </th:block>
</head>

<body>
    <div th:replace = "~{base :: navbar}"></div>
    <div class="content">
    <a th:href="@{/}" class="btn btn-primary" tabindex="-1" role="button" style="margin-left: 2vh; margin-top: 2vh;">
        &#8592; Voltar
    </a>

    <div class="container">
        <div class="title">
            <h1>Centros de custo</h1>
        </div>

        <div class="search">
            <form class="form-inline" th:object="${requisicaoBuscaCentro}" action="/centro_de_custo/buscar" method="POST">
                <div class="form-group">
                    <label for="valor">Pesquise na lista de Centros de custo:</label>
                    <div class="input-group">
                        <div class="col-md-3">
                            <select th:field="*{atributo}" class="form-select" id="basic-addon1">
                                <option value="codigo">Código</option>
                                <option value="descricao">Descrição</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input th:field="*{valor}" id="valor" name="valor" type="text" class="form-control" placeholder="Insira o valor" aria-label="Username" aria-describedby="basic-addon1">
                        </div>
                        <div class="col-md-3">
                            <button class="btn btn-primary" type="submit">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Descrição</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="centro: ${centrosDeCusto}">
                    <td th:text="${centro.codigo}">Código</td>
                    <td th:text="${centro.descricao}">Descrição</td>
                </tr>
            </tbody>
        </table>
    </div>






    </div>

    <script th:replace="~{base ::script}"></script>
</body>

</html>