<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Produtos</title>
        <th:block th:replace="~{base ::head}">
          <th:block th:attr="th:replace=${title}"></th:block>
        </th:block>
      </head>
<body>
    <div th:replace="~{base ::navbar}"></div>
    <div class="content">
  
    <a th:href="@{/}" class="btn btn-primary" tabindex="-1" role="button" style="margin-left: 2vh; margin-top: 2vh;">
      &#8592; Voltar
    </a>

    <div class="container">
        <div class="title">
      <h1>Cadastrar novo Centro de Custo</h1>
    </div>


    <form th:object="${requisicaoCentroDeCusto}" action="/centro_de_custo/novo/criar" method="POST">
      <div class="mb-3">
        <label for="descricao" class="form-label">Descrição do Centro de Custo</label>
        <input th:field="*{descricao}" th:errorclass="is-invalid" name="descricao" class="form-control"
          placeholder="Ex: Administrativo, reforma interna, produção, manutenção..." />
        <div class="invalid-feedback" th:errors="*{descricao}">
          Erros da descricao
        </div>
      </div>


      <div class="submit">
        <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
      </div>

    </form>

  </div>


  <script th:replace="~{base ::script}"></script>
  <script>

    var descricao = document.getElementById("descricao");

    descricao.addEventListener("input", function () {

      this.value = this.value.toUpperCase();
    });
  </script>

</body>
</html>