<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nova solicitação de compra</title>
  <th:block th:replace="~{base ::head}">
    <th:block th:attr="th:replace=${title}"></th:block>
  </th:block>
</head>

<body>
  <div th:replace="~{base ::navbar}"></div>
  <div class="content">

    <a th:href="@{/}" class="btn btn-primary" tabindex="-1" role="button" style="margin-left: 2vh; margin-top: 2vh;">
      &#8592; Voltar
    </a>

    <div class="container">

      <div class="title">
        <h1>Cadastrar nova Solicitação de Compra</h1>
      </div>

      <div id="formSectionContainer">

        <form th:object="${requisicoes}" action="/solicitacao_compra/nova/criar" method="POST" class="form-solicitacao"
          enctype="application/x-www-form-urlencoded" onsubmit="return validarFormulario()">
          <div th:each="requisicao, iterStat : *{detalhes}">
            <div class="row detalhes" th:id="'detalhe-' + ${iterStat.index}">
              <div class="col-md-8">
                <div class="unidades">
                  <label for="dropdown-produtos" class="form-label"
                    th:text=" 'Selecione o produto ' + ${iterStat.index + 1}">Selecione o produto:</label>
                  <select th:field="*{detalhes[__${iterStat.index}__].idProduto}" th:errorclass="is-invalid"
                    id="dropdown-produtos" class="form-select" aria-label="Default select example" >
                    <option class="selecione-default" value="0" th:selected="${true}">Selecione</option>
                    <option th:each="produto: ${produtos}" th:value="${produto.id}" th:text="${produto.descricao}">
                    </option>
                  </select>
                  <div class="invalid-feedback" th:errors="*{detalhes[__${iterStat.index}__].idProduto}">
                    Erros do produto.
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="mb-3">
                  <label for="valor" class="form-label">Valor:</label>
                  <input th:field="*{detalhes[__${iterStat.index}__].valor}" th:errorclass="is-invalid" name="valor"
                    id="valor" class="form-control" placeholder="Ex: R$200,00" onblur="formatarValor(this)"   />
                  <div class="invalid-feedback" th:errors="*{detalhes[__${iterStat.index}__].valor}">
                    Erros de valor
                  </div>
                </div>
              </div>

              <div class="col-md-8">
                <div class="centros">
                  <label for="dropdown-centros" class="form-label">Selecione o centro de custo:</label>
                  <select th:field="*{detalhes[__${iterStat.index}__].idCentroDeCusto}" th:errorclass="is-invalid"
                    id="dropdown-centros" class="form-select" aria-label="Default select example"  >
                    <option class="selecione-default" value="0" th:selected="${true}">Selecione</option>
                    <option th:each="centroDeCusto: ${centrosDeCusto}" th:value="${centroDeCusto.id}"
                      th:text="${centroDeCusto.descricao}"></option>
                  </select>
                  <div class="invalid-feedback" th:errors="*{detalhes[__${iterStat.index}__].idCentroDeCusto}">
                    Erros do centro de custo.
                  </div>
                </div>
              </div>

              <div class="col-md-3">
                <div class="mb-3">
                  <label for="quantidade" class="form-label">Quantidade: </label>
                  <input th:field="*{detalhes[__${iterStat.index}__].quantidade}" th:errorclass="is-invalid"
                    name="quantidade" id="quantidade" class="form-control" placeholder="Ex: 2"
                    onblur="formatarQuantidade(this)"/>
                  <div class="invalid-feedback" th:errors="*{detalhes[__${iterStat.index}__].quantidade}">
                    Erros da quantidade.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-danger" onclick="removerDetalhe()">Remover</button>
          <button type="button" class="btn btn-success" onclick="novoDetalhe()">Adicionar</button>
          <div class="submit">
            <button id="submit-button" type="submit" class="btn btn-primary btn-lg" >Cadastrar</button>
          </div>
        </form>

      </div>

    </div>

  </div>
  <script th:replace="~{base ::scriptSolicitacao}"></script>
  <script th:replace="~{base ::scriptBootstrap}"></script>
</body>

</html>