<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home</title>
  <th:block th:replace="~{base ::head}">
    <th:block th:attr="th:replace=${title}"></th:block>
  </th:block>
</head>

<body>

  <div class="background-image"></div>
  <div th:replace="~{base :: navbar}"></div>
  <div class="content">
    <div class="welcome">
      <h1>Business Management</h1>
      <h5>Bem vindo!</h5>
    </div>

    <div class="card-time">
      <div class="time">
        <div class="time-container" id="clock">
          Carregando horário...
        </div>
        <h1 id="greeting" class="greeting"></h1>
      </div>
    </div>
  </div>


  <script th:replace="~{base ::scriptBootstrap}"></script>
  <script th:replace="~{base ::HomeScript}"></script>
</body>

</html>