<!DOCTYPE html>
<html lang="en">

<head>
    <title>Solicitações de Compra</title>
    <th:block th:replace="~{base ::head}">
        <th:block th:attr="th:replace=${title}"></th:block>
    </th:block>
</head>

<body>
    <div th:replace="~{base :: navbar}"></div>
    <div class="content">
        <a th:href="@{/}" class="btn btn-primary" tabindex="-1" role="button"
            style="margin-left: 2vh; margin-top: 2vh;">
            &#8592; Voltar
        </a>

        <div class="container">
            <div class="title">
                <h1>Solicitações de compra</h1>
            </div>

            <div class="search">
                <form class="form-inline" th:object="${buscaDTO}"
                    action="/solicitacao_compra/buscar" method="POST">
                    <div class="form-group">
                        <label for="valor">Pesquise na lista de Solicitações de Compra:</label>
                        <div class="input-group">
                            <div class="col-md-3">
                                <select th:field="*{atributo}" class="form-select" id="basic-addon1">
                                    <option value="codigo">Código</option>
                                    <option value="produto">Produto</option>
                                    <option value="centro">Centro de custo</option>
                                    <option value="data">Status</option>

                                </select>
                            </div>
                            <div class="col-md-6">
                                <input th:field="*{valor}" id="valor" name="valor" type="text" class="form-control"
                                    placeholder="Insira o valor" aria-label="Username" aria-describedby="basic-addon1">
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Data de Criação</th>
                        <th scope="col">Status</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Mais detalhes</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="solicitacao: ${solicitacoesDeCompra}">
                        <td th:text="${solicitacao.codigo}">Código</td>
                        <td th:text="${solicitacao.dataCriacao}">Data de criação</td>
                        <td th:text="${solicitacao.status}">status</td>
                        <td th:text="${solicitacao.valorTotal}">valorTotal</td>
                        <td>
                            <a th:href="@{/solicitacao_compra/detalhes/{id}(id=${solicitacao.id})}" class="btn btn-primary">Mais detalhes</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script th:replace="~{base ::scriptBootstrap}"></script>
</body>

</html>